/* navbar css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainColor: #29335C;
    --mainColorLigt: #3e445f;
    --secondColor: #DB2B39;
    --textColor: #eee;

    /* gradient colors*/
    --color-1-:var(--mainColor);
    --color-2-:#754678;
    --color-3-:#bd5b7d;
    --color-4-:#f18170;
    --color-5-:#ffb861;
    --color-6-:#f9f871;
    --gradient: linear-gradient(90deg, var(--color-1-), var(--color-2-), var(--color-3-), var(--color-4-), var(--color-5-), var(--color-6-));
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    color: var(--textColor);
    background-color: var(--mainColor);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    background-color: var(--textColor);
    background-image: -webkit-linear-gradient(left, hotPink 0%, orange 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    transition: .1s .2s;
    background-clip: text;
}

nav a:hover{
    background-position: 0 0;
    color: transparent;   
    transition: 0.2s all;
   
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background:transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--mainColorLigt);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        transform: translateY(-100vh);
    }

    header .responsive-nav{
        transform: none;
    }
    

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
        cursor: pointer;
        color: var(--textColor);
    }

    nav a{
        font-size: 2rem;
        margin: 2rem 0;
    }

    nav a:hover{
        transition: 0.1s;
    }
    
}

/* the navbar should be responsive for all types of screens */